@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* Definindo variáveis de cores */
:root {
    --main-color: #009539;      /* Cor principal para o destaque (verde) */
    --text-color: #ffffff;      /* Cor do texto */
    --bg-color-01: #1f242d;     /* Cor de fundo primária (quase preta) */
    --bg-color-02: #323946;     /* Cor de fundo secundária (cinza escuro) */
    --color-01: #B0B0B0;        /* Cor extra 1 (cinza claro) */
    --linkedin-color: #0077b5;  /* Cor do LinkedIn */
    --github-color: #ededed;    /* Cor do GitHub */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

header{
    max-height: 20vh;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: var(--bg-color-02);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    color: var(--color-01);
    font-size: 1.8rem;
    cursor: none;
}

.navbar-brand:hover {
    color: var(--color-01);
}

.navbar-nav .nav-link {
    padding: 15px 20px;
    font-size: 1.2rem;
    color: var(--color-01);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.3);
    color: var(--main-color);
}

.social-link {
    font-size: 1.8rem;
    color: var(--color-01);
    margin-left: 20px;
    transition: transform 0.3s ease, color 0.3s;
    cursor: pointer;
}

.social-link:hover {
    transform: scale(1.3);
}

/* Cores para LinkedIn e GitHub no hover */
.social-link:nth-child(1):hover {
    color: var(--linkedin-color);
}

.social-link:nth-child(2):hover {
    color: var(--github-color);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}

p {
    text-align: justify;
    line-height: 1.8;
}

h2 {
    font-size: 2.5rem;
    color: var(--main-color);
    text-align: center;
}

.sobre{
    justify-content: space-between;
}

.sobre-img {
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
    width: 80%;
    max-width: 350px;
}

.sobre-img img {
    width: 100%;
    height: auto;
}

.experiencia-item {
    background-color: var(--secondary-bg);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.experiencia-item h5 {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--primary-bg);
}

.experiencia-item p {
    font-size: 1rem;
    color: var(--primary-bg);
}

.experiencia-item p strong {
    color: var(--highlight-color);
}

footer {
    background-color: var(--primary-bg);
}

footer p {
    margin: 0;
    color: var(--text-color);
}

.spinner {
    border: 8px solid var(--color-01);
    border-top: 8px solid var(--main-color);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.under-construction {
    text-align: center;
    padding: 50px 0;
}

.under-construction p {
    font-size: 20px;
    color: var(--text-color);
    margin-top: 15px;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-nav .nav-link {
        padding: 10px;
        font-size: 1rem;
    }
    .sobre-img {
        max-width: 100%;
    }
    h2 {
        font-size: 1.5rem;
    }
    .experiencia h3 {
        font-size: 1.2rem;
    }
    .experiencia-item {
        margin-bottom: 20px;
    }
    .experiencia-item .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }
}
