@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

/* Definindo variáveis de cores */
:root {
    --main-color: #009539;
    --text-color: #ffffff;
    --bg-color-01: #1f242d;
    --bg-color-02: #323946;
    --color-01: #B0B0B0;
    --linkedin-color: #0077b5;
    --github-color: #ededed;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    scroll-behavior: smooth;
}

header {
    max-height: 20vh;
}

body {
    background-color: var(--bg-color-01);
    color: var(--text-color);
    font-family: 'Lato', sans-serif;
}

nav {
    background-color: var(--bg-color-02);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.navbar-brand {
    color: var(--color-01);
    font-size: 1.8rem;
    cursor: none;
}

.navbar-brand:hover {
    color: var(--color-01);
}

.navbar-nav .nav-link {
    padding: 15px 20px;
    font-size: 1.2rem;
    color: var(--color-01);
    transition: transform 0.3s ease, color 0.3s ease;
    cursor: pointer;
}

.navbar-nav .nav-link:hover {
    transform: scale(1.3);
    color: var(--main-color);
}

.social-link {
    font-size: 1.8rem;
    color: var(--color-01);
    margin-left: 20px;
    transition: transform 0.3s ease, color 0.3s;
    cursor: pointer;
}

.social-link:hover {
    transform: scale(1.3);
}

/* Cores para LinkedIn e GitHub no hover */
.social-link:nth-child(1):hover {
    color: var(--linkedin-color);
}

.social-link:nth-child(2):hover {
    color: var(--github-color);
}

section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 80px 0;
}

section.portfolio img {
    width: 100%;
    height: auto; /* Mantém a proporção da imagem */
    max-height: 300px; /* Limita a altura máxima das imagens */
    object-fit: cover; /* Mantém a imagem perfeitamente ajustada dentro do elemento */
    border-radius: 8px; /* Adiciona arredondamento nas bordas */
    margin-bottom: 15px; /* Espaçamento entre as imagens */
}

p {
    text-align: justify;
    line-height: 1.8;
}

h2 {
    color: var(--main-color);
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

.sobre {
    justify-content: space-between;
}

.sobre-img {
    border-right: solid 0.6rem;
    border-bottom: solid 0.6rem;
    border-image: linear-gradient(135deg, transparent 50%, var(--main-color)) 1;
    width: 80%;
    max-width: 350px;
}

.sobre-img img {
    width: 100%;
    height: auto;
}

.item {
    background-color: var(--bg-color-02);
    padding: 15px;
    border-radius: 8px;
    color: var(--text-color);
    border-left: 4px solid var(--main-color);
    margin-bottom: 15px;
}

.item h5 {
    color: var(--main-color);
    margin-bottom: 10px;
}

.item p {
    margin: 5px 0;
    color: var(--color-01);
}

.card {
    border: none;
    background-color: var(--bg-color-02);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    border-left: 4px solid var(--main-color);
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 1.5rem;
}

.card h5 {
    color: var(--main-color);
    justify-self: center;
    font-size: 1.8rem;
    font-weight: bolder;
    margin-bottom: 25px;
}

.list-unstyled li {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem; /* Ajustando o espaçamento entre os itens */
}

.badge {
    font-size: 0.8rem;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

/* Adicionando espaçamento entre o nome da tecnologia e o badge */
.list-unstyled li span:first-child {
    margin-right: 1rem; /* Adicionando um pequeno espaçamento à direita do nome */
}

.card-body .list-unstyled li {
    font-size: 1.4rem; /* Ajustando o tamanho da fonte para melhorar a legibilidade */
}


footer {
    background-color: var(--bg-color-02);
    padding: 20px 0; 
}

footer p {
    margin: 0;
    color: var(--text-color);
    text-align: center;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-nav .nav-link {
        padding: 10px;
        font-size: 1rem;
    }

    .sobre-img {
        max-width: 100%;
    }

    h2 {
        font-size: 1.5rem;
    }

    .experiencia h3 {
        font-size: 1.2rem;
    }

    .experiencia-item {
        margin-bottom: 20px;
    }

    .experiencia-item .d-flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .list-unstyled li {
        flex-direction: column;
        align-items: flex-start;
    }

    .badge {
        margin-top: 0.5rem;
    }

    .card-body .list-unstyled li {
        font-size: 1.2rem;
    }
}